// base colors //
$base-color: #FFFFFF;
$base-scd-color: rgba(133, 170, 171, 1);
$base-thrd-color: #000000;
// main colors //
$main-color:  #323264;
// accent color//
$accent-color: #F0145A;
// active colors //
$active-main-color: #24A3FF;
// secondary colors //
$second-color: #F5F5FA;


// fonts //
$base-fz: 16px;
$second-fz: 18px;
$third-fz: 24px;
$h1-fz: 40px;
$h2-fz: 30px;
$h3-fz: 24px;
$h3-caps-fz: 14px;
$h4-fz: 16px;
$ul-fz: 18px;
$base-lh: 1.2; 
$base-ff: "Montserrat", sans-sarif;